.advantages {
  padding: 112px calc(50% - 605px) 76px;

  @media (max-width: $tablet-width) {
    padding: 54px calc(50% - 605px) 28px;
  }

  @media (max-width: $mobile-width) {
    padding: 37px calc(50% - 605px) 33px;
  }
}

.advantages__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  color: $blue;

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.advantages__item {
  box-sizing: border-box;
  min-height: 299px;
  padding: 40px 42px 51px;
  border: 1px solid $light-grey-border;
  border-left: 0;
  box-shadow: inset 3px 0 0 $blue;
  background-color: $white;

  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin: 14px 0;

    @media (max-width: $tablet-width) {
      margin: 2px 0 9px;
    }

    @media (max-width: $mobile-width) {
      font-size: 20px;
      line-height: 28px;
      margin: 9px 0 8px;
    }
  }

  p {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $grey;

    @media (max-width: $tablet-width) {
      margin: 5px 0;
    }
  }

  &:nth-child(3n+1) {
    @media (max-width: $mobile-width) {
      padding: 24px 21px 19px 26px;
    }
  }

  &:hover {
    cursor: pointer;
    color: $white;
    background-color: $blue;
  }

  &:hover p {
    color: $white;
  }

  @media (max-width: $tablet-width) {
    padding: 24px 19px 16px 28px;
    min-height: 232px;
    box-shadow: inset 2px 0 0 $blue;
  }

  @media (max-width: $mobile-width) {
    padding: 24px 15px 19px 26px;
  }
}
