.callback {
  padding: 62px 0 80px 0;
  background-color: $blue;
  background-image:
    url("../img/backgrounds/bg-airplane.png"),
    url("../img/backgrounds/bg-two-triangles.svg"),
    url("../img/backgrounds/bg-form-triangles.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:
    top 161px left calc(43% - 256px),
    top -60px left calc(33% - 237px),
    top 35px right;

  @media (min-resolution: 1.5dppx) {
    background-image:
      url("../img/backgrounds/bg-airplane@2x.png"),
      url("../img/backgrounds/bg-two-triangles.svg"),
      url("../img/backgrounds/bg-form-triangles.svg");
    background-size: 511px 288px, auto, auto;
  }

  @media (max-width: 1090px) {
    background-size: 43%, auto, auto;
  }

  @media (max-width: $tablet-width) {
    padding: 53px 0 72px 0;
    background-image: none;
  }

  @media (max-width: $mobile-width) {
    padding: 6px 0 10px 0;
  }
}
