.header {
  overflow-x: hidden;
  color: $white;
  padding: 33px 0 90px;
  background-color: $space-blue;
  background-image:
    url("../img/backgrounds/bg-two-triangles.svg"),
    url("../img/backgrounds/bg-night-sky.png");
  background-size: 671px 641px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: right calc(35% - 218px) top 118px, center;

  a {
    @include link-reset;
  }

  @media (min-resolution: 1.5dppx) {
    background-image:
      url("../img/backgrounds/bg-two-triangles.svg"),
      url("../img/backgrounds/bg-night-sky@2x.png");
  }

  @media (max-width: $tablet-width) {
    padding: 20px 0 70px;
    background-size: 530px 506px, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: right calc(35% - 285px) top -40px, top -6px center;
  }

  @media (max-width: $mobile-width) {
    padding: 17px 0 70px;
    background-size: 530px 483px, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: right calc(35% - 276px) top -46px, top -6px center;
  }
}

.header__actions {
  display: grid;
  grid-template-columns: min-content auto min-content;
  gap: 1.5em 2.4em;
  align-items: start;
  font-family: $secondary-font;
  margin-bottom: 229px;

  a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:hover {
      color: $light-blue;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: min-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 230px;
  }
}

.header__logo {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__logo--mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.header__contacts {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 17px 0 0 auto;

  @media (max-width: $tablet-width) {
    margin: 0 0 0 auto;
  }
}

.header__item {
  width: 215px;
  margin: 0 5px 0 0;

  span {
    @media (max-width: $tablet-width) {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      width: 1px;
      height: 1px;
      margin: -1px;
      font-size: 7px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    width: min-content;
    margin: 0 32px 0 0;
  }

  @media (max-width: $mobile-width) {
    margin: 0 22px 0 0;
  }
}

.header__icon {
  margin-right: 20px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.header__icon--email {
  @media (max-width: $tablet-width) {
    width: 26px;
    height: 18px;
  }
}

.header__icon--phone {
  @media (max-width: $tablet-width) {
    width: 25px;
    height: 24px;
  }
}

.header__buttons-list {
  @include list-reset;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__button {
  padding: 5px;

  a {
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    border: 1px solid $white;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: $light-blue;
      border-color: $light-blue;
    }

    &:active {
      opacity: 0.3;
    }

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
