.intro {
  h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 27px;

    @media (max-width: $tablet-width) {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 29px;
    }

    @media (max-width: $mobile-width) {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 27px;
    }
  }

  p {
    position: relative;
    font-family: $secondary-font;
    font-size: 22px;
    line-height: 34px;
    padding: 0 0 0 97px;
    margin-bottom: 44px;

    &::before {
      position: absolute;
      left: 3px;
      top: 17px;
      content: "";
      width: 66px;
      height: 2px;
      background-color: $white;

      @media (max-width: $tablet-width) {
        width: 33px;
        top: 16px;
      }
    }

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 28px;
      padding: 0 0 0 51px;
      margin-bottom: 55px;
    }

    @media (max-width: $mobile-width) {
      font-size: 16px;
      line-height: 25px;
      padding: 0 0 0 49px;
      margin-bottom: 41px;
    }
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
}

.intro__text {
  width: 718px;
  position: relative;
  z-index: 1;

  @media (max-width: $tablet-width) {
    width: 440px;
    margin-left: 64px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-left: 0;
  }
}

.intro__image {
  position: absolute;
  top: 258px;
  right: calc(25% - 303px);
  z-index: 0;

  @media (max-width: $tablet-width) {
    width: 465px;
    top: 113px;
    right: -207px;
  }

  @media (max-width: $mobile-width) {
    width: 294px;
    top: 92px;
    right: 0;
  }
}

.intro__button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  width: 407px;
  padding: 17px 0 19px 0;
  margin: 0 0 93px 97px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $blue;

  span {
    pointer-events: none;

    &:first-child {
      @media (max-width: $mobile-width) {
        display: none;
      }
    }

    &:last-child {
      display: none;

      @media (max-width: $mobile-width) {
        display: inline;
      }
    }
  }

  @media (max-width: $tablet-width) {
    width: 379px;
    margin: 0 0 93px 51px;
  }

  @media (max-width: $mobile-width) {
    width: 287px;
    margin: 0;
  }
}

.intro__scroll {
  display: block;
  width: max-content;
  font-family: $secondary-font;
  font-size: 14px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  opacity: 0.5;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
