.social-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.social-list__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}
