$main-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "PT Mono", "Arial", sans-serif;
$mobile-width: 767px;
$tablet-width: 1023px;

$white: #ffffff;
$blue: #00b2ff;
$black: #000000;
$black-opacity: rgba($black, 0.5);
$light-blue: #1abaff;
$dark-blue: #1b2d37;
$dark-blue-opacity: rgba($dark-blue, 0.5);
$space-blue: #1b2931;
$grey: #666666;
$light-grey: #cdcdcd;
$grey-border: #626962;
$grey-border-opacity: rgba($grey-border, 0.2);
$light-grey-border: #ebebeb;
$snow: #fafafa;
